.empty-cart-message {
  display: flex;
  width: 250px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border-radius: 12px;
  margin: 20px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

.mycart {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.empty-cart-message h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

#Gotohome {
  height: 25px;
  width: 100px;
  background-color: rgb(89, 89, 244);
  color: white;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;


}

.empty-cart-message p {
  font-size: 18px;
  color: #555;
}

.empty-cart-icon {
  font-size: 48px;
  margin-bottom: 15px;
  color: #ff6f61;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.maincontainer1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}